@import url('https:/fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif; 
}

body{
    background-color: #050404;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;   
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #050404;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

.home{
    height:100vh;
    background: url('home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height:1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #050404;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #050404;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #050404;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #050404;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:nth-child(2)::before{
    background: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #050404;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0; 
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: #081b29;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwords;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover{
    background: #081b29;
    opacity: .8;
}

.home-imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 130%;
    height: 100%;
    background: #050404;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #081b29;
    padding-bottom: 6rem;
}

.heading {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;   
}

span {
    color: #00abf0;
}

.about-img{
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
   width: 90%;
   border-radius: 50%;
   border: .2rem solid #00abf0;
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius:50%;
    border-top: .2rem solid #050404;
    border-bottom: .2rem solid #050404;
    border-left: .2rem solid #00abf0;
    border-right: .2rem solid #00abf0;
}

.about-content {
    text-align: center;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns{
    display:inline-block;
    width: 15rem;
}

.btn-box.btns a::before{
    background: #050404;
}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding: 4rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;

}

/* .education-row .education-column{
    flex: 1 1 40rem;
} */

.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem ;
}

.education-column .education-box{
    border-left: .2rem solid #00abf0;
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: #00abf0;
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;

}

.education-content .content .year{
    font-size: 1.5rem;
    color: #00abf0;
    padding-bottom: .5rem;
}

.education-content .content .year i{
    padding-right: .5rem;
}

.about-content .content h3{
    font-size: 2rem;
}

.about-content.content p{
    font-size: 1.6rem;
    padding-top: .5rem;
}

.skills{  
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    background: #081b29;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.skills-row .skills-column {
    flex: 1 1 25rem;
}

.skills-column .title {
    font-size: 2rem;
    margin: 0 0 1rem;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    padding: .20rem 6rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #050404;
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before{
    width: 100%;

}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: #ededed;
}

.skills-content .progress .bar {
    height: 2rem;
    border-radius: .6rem solid ;
    border: .1rem solid #00abf0;
    padding: .5rem;
    margin: 0 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .6rem;
    background: #00abf0;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width:90%
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width:80%
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width:65%
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width:50%
}


.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width:90%
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width:67%
}



/*KEYFRAMES ANIMATION*/
@keyframes showRight{
    100%{
        width: 0;
    }
} 

@keyframes manipActiveHover{
    100%{
        pointer-events: auto;
    }
}

